crash-reports/
backups/
ldlib/
logs/
local/
modernfix/
saves/
coremods/
texturepacks/
simplebackups/
xaero*/
log4j2.xml
rhino.local.properties
usercache.json
usernamecache.json
config/oculus.properties
config/roughlyenoughitems/
kubejs/jsconfig.json
kubejs/config/probejs.json
kubejs/README.txt
gtceu/
defaultconfigs/ftblibrary/
defaultconfigs/ftbquests/
defaultconfigs/ftbultimine/ftbultimine-client.snbt
defaultconfigs/ftbxmodcompat/
kubejs/README.txt
world/
banned-ips.json
banned-players.json
eula.txt
ops.json
server.properties
whitelist.json
.DS_Store
